<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>

    {% for link in site.data.stylesheets %}
      <link rel="stylesheet" type="text/css" href=" {{ link.url }} ">
    {% endfor %}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://use.fontawesome.com/ffd23b5274.js"></script>
    <script type='text/javascript'>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$']],
    displayMath: [['[[',']]']]
  },
  svg: {
    fontCache: 'global'
  }
};
</script>

{% seo %}
  </head>

